html {
    height: 100%;
    overflow-y: hidden;
}

body {
  width: 100%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.hidden {
  display: none;
}

.grid {
  display: block !important;
  // height: 100% !important;
}
.jqx-tabs-content-element .jqx-rc-b .jqx-rc-b {
  display: none !important;
}

.label-control {
  font-size: 14px;
}

.form-control {
  width: 100%;
  font-size: 13px;
}

.form-group {
  margin-bottom: 20px;
}

.glyphicon {
  margin-right: 5px;
}

#deleterowbutton {
  color: red;
}

#deletelevelbutton {
  color: red;
}

.jqx-window {
  .jqx-window-header {
    padding: 10px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    width: calc(100% - 20px) !important;
  }
  .jqx-window-content {
    padding: 0;
    .jqx-window-content-body {
      padding: 10px;
    }
    .jqx-window-content-body-view {
      padding: 20px;
    }
  }
  .jqx-window-footer {
    text-align: right;
    padding: 15px;
    border-top: 1px solid lightgray;
    position: absolute;
    width: 95%;
    bottom: 0;
    .btn {
      margin-bottom: 0;
    }
  }
}
